<app-navegacion></app-navegacion>
<div class="position-relative " >
    <img src="equipacion-manchester-city-home-25-26-2.jpg" class="img-fluid w-100 blur-img" alt="...">

  <div class="position-absolute top-50 start-50 translate-middle text-center w-100" >
    <h1 class="fw-bold  text-white text-grande ">Viste la pasión por el fútbol</h1>
    <p class=" text-white fs-2 ">Lleva los colores de tu equipo a donde vayas</p>
    <a href="#productos" class="btn btn-primary btn-lg mt-3 text-white btn-color border-0">Ver productos</a>
  </div>
</div>

<div class="container-fluid btn-color py-5 text-center">
 

</div>