
    
        <div class="container">
            <h1 class="fs-1 text-center enlace-color">Iniciar Sesión</h1>
        </div>
        <div class="container mt-6">
            
            <div class="row mt-5">
                <div class="col-md-7 ms-auto">
                    <label for="email" class="form-label enlace-color">Email</label>
                    <input type="email" class="form-control" placeholder="Ingrese su Email" aria-label="Email">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-7 ms-auto">
                    <label for="password" class="form-label enlace-color">Contraseña</label>
                    <input type="password" class="form-control" placeholder="Ingrese su contraseña" aria-label="Contraseña">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-7 ms-auto">
                    <div class="d-grid gap-2">
                        <button class="btn btn-color" type="submit">Ingresar</button>
                    </div>
                    <div class="my-3">
                        <span class="enlace-color">No tienes cuenta? <a href="/registrarse">Registrarse</a></span><br><br>
                        <span class="enlace-color">Olvidaste tu contraseña? <a href="#">Recuperar Contraseña</a></span>
                    </div>
                </div>
                
            </div>
            
        </div>

    